.img-thumbnail-sm {
  padding: .25rem;
  background-color: #f8fafc;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100px;
  height: auto;
}

.hoverable:hover {
  background-color: rgba(0,0,0,.075);
}